﻿
@{
    ViewBag.Title = "Phone";
    ViewBag.BccEmail = "ffontana@cockburn.wa.gov.au";
}

<style type="text/css">

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
    .hidden {
        height:30px;
        overflow:hidden;
        opacity:0.6;
    }

    h2.icon {
        cursor:pointer;
    }

    .color-red {
        color: #8b0000;
    }
    .icon-fire:before {
        content: "\f319";
    }
    
</style>

@{
    if (string.IsNullOrWhiteSpace(ViewBag.PhoneNumber))
    {
            <p>Phone number could not be identified. Ask the customer some questions to identify them and try to <a href="cilink://proprod/&d=Production%20TermServ%20direct&action=sfun&f=P1.NAM.NAME.MNT" target="_blank">find them in Property and Rating</a>.</p>
    }
    else
    {
        <div ng-controller="formController" >
            <script type="text/javascript">
                var PhoneNumber = '@ViewBag.PhoneNumber';
            </script>

            <div class="controls">
                
                <a href="" title="Open other systems" class="icon icon-settings" ng-click="showsettings=true;"><span></span></a>
            </div>
            <div class="toolbar tools" ng-show="showsettings" ng-mouseleave="showsettings = false" ng-cloak>

                <ul class="icon-list links inline">
                    @*<li><a class="icon icon-help ask-a-question" href="ie://knowledgebase"><span>Knowledgebase</span></a></li>*@
                    <li><a class="icon icon-property" href="cilink://proprod/&d=Production%20TermServ%20direct&action=sfun&f=P1.NAM.NAME.MNT"><span>Property and Rating</span></a></li>
                    @*<li><a class="icon icon-finance" href="cilink://financeproduction/action=sfun&f=$F1.AP.CHTACCT.ENQ&s=F1GLC.chartname=APCHART"><span>Finance One</span></a></li>*@
                    <li><a class="icon icon-finance" href="cilink://proprod/&d=Production%20TermServ%20direct&action=sfun&f=P1.NAM.NAME.MNT"><span>Finance One</span></a></li>
                    @*<li><a class="icon icon-maps" href="ie://roma/intramaps90"><span>GIS Intramaps</span></a></li>
        <li><a class="icon icon-ecm" href="iessl://raph.gosnells.wa.gov.au:8080"><span>ECM</span></a></li>
        <li><a class="icon icon-book" href="iessl://gosnells.spydus.com/spydus#login"><span>Library Catalogue</span></a></li>
        <li><a class="icon icon-external" href="ie://cognet"><span>COGnet</span></a></li>*@
                    <li><a class="icon icon-web" href="iessl://www.cockburn.wa.gov.au"><span>City's website</span></a></li>
                </ul>
            </div>
            
            <p><img src="~/Content/holmes-silhoutte.png" alt="COGnar" style="width:45px" />  <a href="" ng-click="showsearch= !showsearch;showsettings=false;formData.number = '';searchbusiness=false;formData.other == false"><span>Find customer</span></a></p>

            <div class="searchbox" ng-class="{ visible: showsearch }">
                <form name="advSearch" novalidate>
                    <fieldset>
                        <span class="error">{{formData.errorMessage}}</span>
                        <div class="row">
                            <label for="boolean">Type</label>
                            <input type="radio" name="boolean" ng-value="false" ng-model="formData.searchbusiness" ng-checked="true" ng-click="formData.other = false" /> Person
                            <input type="radio" name="boolean" ng-value="true" ng-model="formData.searchbusiness" ng-click="formData.givennames = '';formData.other = false" /> Business
                            <input type="radio" name="boolean" ng-value="false" ng-click="formData.other = true" /> Other service
                        </div>

                        <div class="row ng-hide" ng-show="formData.other" ng-cloak>
                            <label></label>

                            <!--<a href="ie://www.yellowpages.com.au/search/listings?clue=@{@ViewBag.PhoneNumber}&locationClue=Perth%2C+6000&lat=&lon=&selectedViewMode=list"><img src="~/Content/logo-yellow-pages.jpg" alt="Search using Yellow Pages" title="Search Yellow Pages for @ViewBag.PhoneNumber" /></a>-->
                            <a href="ie://www.yellowpages.com.au/search/listings?clue=@{@ViewBag.PhoneNumber}"><img src="~/Content/logo-yellow-pages.jpg" alt="Search using Yellow Pages" title="Search Yellow Pages for @ViewBag.PhoneNumber" /></a>

                        </div>
                        <div ng-hide="formData.other" ng-cloak>
                            <div class="row multi-column">
                                <label for="givennames" ng-hide="formData.searchbusiness==true" ng-cloak>Given names</label>
                                <input name="givennames" type="text" ng-model="formData.givennames" maxlength="30" ng-hide="formData.searchbusiness==true" ng-minlength="2" ng-cloak>
                                <label for="surname">{{formData.searchbusiness ? "Business" : "Surname" }}</label>
                                <input name="surname" type="text" ng-model="formData.surname" maxlength="30" ng-minlength="2">

                            </div>
                            <div class="row">
                                <label for="address">Address</label>
                                <input name="address" type="text" ng-model="formData.address" maxlength="300" ng-minlength="6" placeholder="eg 2232 Albany Gosnells">
                            </div>
                            <div class="row multi-column">
                                <label for="email">Email</label>
                                <input name="email" type="text" ng-model="formData.email" maxlength="50" ng-minlength="7">

                                <label for="number">Phone number</label>
                                <input name="number" type="text" maxlength="30" ng-model="formData.number" ng-init="formData.number='@ViewBag.PhoneNumber'" ng-minlength="8">
                            </div>
                            <div class="row">
                                <label></label>
                                <div class="buttons">
                                    <a href="" ng-click="formData.givennames = ''; formData.surname='';formData.email='';formData.address='';formData.number='';">Clear</a> | <a href="" ng-click="showsearch = false;">Cancel</a>

                                    <button href="#" ng-click="doSearch(this);">Search</button>
                                </div>
                            </div>
                       </div>
                    </fieldset>
                </form>
            </div>

            <p ng-cloak> Results for search: <strong>{{formData.number}} {{formData.givennames}} {{formData.surname}} {{formData.address}} {{formData.email}}</strong> <a class="icon icon-email inline" href="mailto:?bcc=@{@ViewBag.BccEmail}&amp;subject=You missed a call from a customer&amp;body=Phone: @{@ViewBag.PhoneNumber}%0a%0aReason for calling: " title="Send callback email"><span></span></a></p>

            <!-- P&R people -->
            <div class="system" ng-controller="propertyRatingPersonController" ng-class="{'hidden' : hidden}" ng-cloak>
                <h2 class="icon icon-property" ng-class="{ active: PropertyRatingPeople.length > 0 }" ng-click="hidden = !hidden">Property and Rating <span>{{PropertyRatingPeople.length}} customers found{{PropertyRatingPeople.length > 20 ? ", showing first 20. Please refine your search" : ""}}.</span></h2>
                <div ng-repeat="person in PropertyRatingPeople | limitTo: 20" class="customer">

                    <ul class="icon-list links inline mini-toolbar">
                        <li><a class="icon icon-compose" href="" title="Record details of phone call"><span></span></a></li>
                        <li><a class="icon icon-warning" href="cilink://propertyproduction/action=sfun&f=$P1.CRM.REQENTRY.MNT&p=P1NAM.name_ctr={{person.NucNameId}}" title="Create request for this customer"><span></span></a></li>
                        <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                    </ul>

                    <h3 class="customer-name icon" ng-class="{ 'icon-corporate' : person.NucNameType.toLowerCase() =='bus',  'icon-person' : person.NucNameType.toLowerCase() =='per'}">
                        <a href="cilink://propertyproduction/action=sfun&f=$P1.NAM.NAME.MNT&s=P1NAM.name_ctr={{person.NucNameId}}" title="Open in Property and Rating">{{person.GivenNames}} {{person.Surname}}</a>
                    </h3>

                    <ul class="accordion-tabs-minimal" ng-controller="TabController">
                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link active" ng-click="setTab(1)" ng-class="{ active: isSet(1) }" title="View details for {{person.GivenNames}} {{person.Surname}}">Details</a>
                            <div class="tab-content" ng-show="isSet(1)">
                                <contact-details entity="person"></contact-details>
                            </div>
                        </li>
                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getProperties(this, person.NucNameId, 'Current');setTab(2); clickToSetStatus();" ng-class="{ active: isSet(2) }" title="View properties for {{person.GivenNames}} {{person.Surname}}">Properties</a>

                            <div class="tab-content" ng-show="isSet(2)" ng-cloak>

                                <switch name="history-properties" current="current" callbackfn="getProperties" nucnameid="{{person.NucNameId}}" viewscope="this" listlength="AssociatedProperties.length" listtype="properties" class="green wide"></switch>

                                <ul class="icon-list" ng-repeat="property in AssociatedProperties | limitTo: listLimit" ng-cloak>

                                    <li class="icon icon-Location" ng-class="{ 'color-red' : property.Description.match('(?:$|^| )(GPC|InitLegal|IntentGPC|IntentMean|IntentPSSO|IntentRent|IntentSell|MeansEnq|PSSO|S.6.60)(?:$|^| )') }">
                                        <a ng-class="{ 'color-red' : property.Description.match('(?:$|^| )(GPC|InitLegal|IntentGPC|IntentMean|IntentPSSO|IntentRent|IntentSell|MeansEnq|PSSO|S.6.60)(?:$|^| )') }" href="cilink://propertyproduction/action=sfun&f=$P1.PRP.PRPVIEW.MNT&s=P1PRP.property_no={{property.AssociationId}}" title="Open in Property and Rating">{{property.Description}}</a>

                                        <ul class="icon-list links inline mini-toolbar">

                                            <li ng-show="property.LandId != null" ng-cloak><a class="icon icon-Location" href="ie://echo/CustomerLookup/Lookup/Intramaps/?xmlurlin=http%3A%2F%2Froma%2Fintramaps%2Fintegration%2FT1PropertyLink.aspx%3Fparameters%3D{{property.LandId}}%26module%3DProperty%26destinationAttribute%3Dlandno%26writexml%3Dtrue" title="View in Intramaps"><span></span></a></li>

                                            <li ng-show="property.LandId != null" ng-cloak><a class="icon icon-event" href="ie://echo/CustomerLookup/Lookup/IntramapsWaste/?xmlurlin=http%3A%2F%2Froma%2Fintramaps%2Fintegration%2FT1PropertyLink.aspx%3Fparameters%3D{{property.LandId}}%26module%3DProperty%26destinationAttribute%3Dlandno%26writexml%3Dtrue" title="Waste collection dates"><span></span></a></li>
                                            <li><a class="icon icon-warning" href="cilink://propertyproduction/action=sfun&f=$P1.CRM.REQENTRY.MNT&p=P1NAM.name_ctr={{person.NucNameId}}&p=P1PRP.property_no={{property.AssociationId}}" title="Create request"><span></span></a></li>
                                            <li ng-show="property.AssociationId != null" ng-cloak><a class="icon icon-fire" href="ie://echo/CustomerLookup/Lookup/IntramapsFireInspection/?xmlurlin=http%3A%2F%2Froma%2Fintramaps%2Fintegration%2FT1PropertyLinkFireInspection.aspx%3Fparameters%3D{{property.AssociationId}}%26module%3DProperty%26destinationAttribute%3Dlandno%26writexml%3Dtrue" title="View Fire Inspection info"><span></span></a></li>
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}%0aProperty:%0a        {{property.Description.replace('&','and')}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>

                                </ul>

                                <p><a ng-show="AssociatedProperties.length > 10" href="cilink://propertyproduction/action=sfun&f=$P1.NAM.NAME.MNT&s=P1NAM.name_ctr={{person.NucNameId}}" title="Open in Property and Rating"><span>View all properties</span></a></p>

                            </div>
                        </li>
                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getRequests(this, person.NucNameId, 'Current');setTab(3); clickToSetStatus();" ng-class="{ active: isSet(3) }" title="View requests for {{person.GivenNames}} {{person.Surname}}">
                                Requests
                            </a>
                            <div class="tab-content" ng-show="isSet(3)" ng-cloak>

                                <switch name="history-requests" current="current" callbackfn="getRequests" nucnameid="{{person.NucNameId}}" viewscope="this" listlength="AssociatedRequests.length" listtype="requests" class="green wide"></switch>

                                <ul class="icon-list" ng-repeat="request in AssociatedRequests | limitTo: listLimit" ng-cloak>
                                    <li class="icon icon-warning">
                                        <a href="cilink://propertyproduction/action=sfun&f=$P1.REG.APPLPROC.MNT&s=P1REG.ram_process_ctr={{request.AssociationId}}" title="Open in Property and Rating">{{request.Description}}</a>

                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}%0aRequest:%0a        {{request.Description.replace('&','and')}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>
                                </ul>

                                <p><a ng-show="AssociatedRequests.length > 10" href="cilink://propertyproduction/action=sfun&f=$P1.NAM.NAME.MNT&s=P1NAM.name_ctr={{person.NucNameId}}" title="Open in Property and Rating"><span>View all requests</span></a></p>

                                
                            </div>
                        </li>
                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getApplications(this, person.NucNameId, 'Current');setTab(4);clickToSetStatus();" ng-class="{ active: isSet(4) }" title="View applications for {{person.GivenNames}} {{person.Surname}}">
                                Applications
                            </a>
                            <div class="tab-content" ng-show="isSet(4)" ng-cloak>

                                <switch name="history-applications" current="current" callbackfn="getApplications" nucnameid="{{person.NucNameId}}" viewscope="this" listlength="AssociatedApplications.length" listtype="applications" class="green wide"></switch>

                                <ul class="icon-list" ng-repeat="application in AssociatedApplications | limitTo: listLimit" ng-cloak>
                                    <li class="icon icon-property">
                                        <a href="cilink://propertyproduction/action=sfun&f=$P1.REG.APPLPROC.MNT&s=P1REG.ram_process_ctr={{application.AssociationId}}" title="Open in Property and Rating">{{application.Description}}</a>

                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}%0aApplication:%0a        {{application.Description.replace('&','and')}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <p><a ng-show="AssociatedApplications.length > 10" href="cilink://propertyproduction/action=sfun&f=$P1.NAM.NAME.MNT&s=P1NAM.name_ctr={{person.NucNameId}}" title="Open in Property and Rating"><span>View all applications</span></a></p>
                            </div>
                        </li>
                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getDebtors(this, person.NucNameId, 'Current');setTab(5);clickToSetStatus();" ng-class="{ active: isSet(5) }" title="View debtors for {{person.GivenNames}} {{person.Surname}}">
                                Debtors
                            </a>
                            <div class="tab-content" ng-show="isSet(5)" ng-cloak>

                                <switch name="history-debtors" current="current" callbackfn="getDebtors" nucnameid="{{person.NucNameId}}" viewscope="this" listlength="AssociatedDebtors.length" listtype="debtors" class="green wide"></switch>

                                <ul class="icon-list" ng-repeat="debtor in AssociatedDebtors | limitTo: listLimit" ng-cloak>
                                    <li class="icon icon-property">
                                        <a href="cilink://propertyproduction/action=sfun&f=$P1.DEB.DEBACC.MNT&p=P1DEB.debtor_no={{debtor.AssociationId}}">{{debtor.Description}}</a>
                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}%0aDebtor:%0a        {{debtor.Description.replace('&','and')}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>

                                </ul>

                                <p><a ng-show="AssociatedDebtors.length > 10" href="cilink://propertyproduction/action=sfun&f=$P1.NAM.NAME.MNT&s=P1NAM.name_ctr={{person.NucNameId}}" title="Open in Property and Rating"><span>View all debtors</span></a></p>
                            </div>
                        </li>
                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getInfringements(this, person.NucNameId, 'Current');setTab(6);clickToSetStatus();" ng-class="{ active: isSet(6) }" title="View infringements for {{person.GivenNames}} {{person.Surname}}">Infringements</a>
                            <div class="tab-content" ng-show="isSet(6)" ng-cloak>

                                <switch name="history-infringements" current="current" callbackfn="getInfringements" nucnameid="{{person.NucNameId}}" viewscope="this" listlength="AssociatedInfringements.length" listtype="infringements" class="green wide"></switch>

                                <ul class="icon-list" ng-repeat="infringement in AssociatedInfringements | limitTo: listLimit" ng-cloak>
                                    <li class="icon icon-warning">
                                        <a href="cilink://propertyproduction/action=sfun&f=$P1.INF.INFRINGE.MNT&p=P1INF.infringement_number={{infringement.AssociationId}}">{{infringement.Description}}</a>

                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}%0aInfringement:%0a        {{infringement.Description.replace('&','and')}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>

                                </ul>

                                <p><a ng-show="AssociatedInfringements.length > 10" href="cilink://propertyproduction/action=sfun&f=$P1.NAM.NAME.MNT&s=P1NAM.name_ctr={{person.NucNameId}}" title="Open in Property and Rating"><span>View all infringements</span></a></p>

                            </div>
                        </li>
                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getAnimals(this, person.NucNameId, 'Current');setTab(7);clickToSetStatus();" ng-class="{ active: isSet(7) }" title="View animals for {{person.GivenNames}} {{person.Surname}}">Animals</a>
                            <div class="tab-content" ng-show="isSet(7)" ng-cloak>

                                <switch name="history-animals" current="current" callbackfn="getAnimals" nucnameid="{{person.NucNameId}}" viewscope="this" listlength="AssociatedAnimals.length" listtype="animals" class="green wide"></switch>

                                <ul class="icon-list" ng-repeat="animal in AssociatedAnimals | limitTo: listLimit" ng-show="AssociatedAnimals.length > 0" ng-cloak>
                                    <li class="icon icon-paw">
                                        <a href="cilink://propertyproduction/action=sfun&f=P1.ANI.ANIMAL.MNT&s=P1ANI.animal_ctr={{animal.AssociationId}}" title="Open in Property and Rating">{{animal.Description}}</a>

                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}%0aAnimal:%0a        {{animal.Description.replace('&','and')}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>

                                </ul>

                                <p><a ng-show="AssociatedAnimals.length > 10" href="cilink://propertyproduction/action=sfun&f=$P1.NAM.NAME.MNT&s=P1NAM.name_ctr={{person.NucNameId}}" title="Open in Property and Rating"><span>View all animals</span></a></p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <!-- Finance One business -->
            <div class="system" ng-controller="financeOneController" ng-class="{'hidden' : hidden}" ng-cloak>
                <h2 class="icon icon-finance" ng-class="{ active: FinanceOneBusiness.length > 0 }" ng-click="hidden = !hidden">Finance One <span>{{FinanceOneBusiness.length}} creditors found{{FinanceOneBusiness.length > 20 ? ", showing first 20. Please refine your search" : ""}}.</span></h2>
                <div ng-repeat="business in FinanceOneBusiness | limitTo: 20" class="customer">

                    <ul class="icon-list links inline mini-toolbar">
                        <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{business.Surname.replace('&','and')}}&amp;body=Name:%0a        {{business.GivenNames}} {{business.Surname.replace('&','and')}}%0aPhone:%0a        {{CallingNumber}}{{business.HomePhone ? '%0a        ' + business.HomePhone + ' (home)' : ''}}{{business.WorkPhone ? '%0a        ' + business.WorkPhone + ' (work)' : ''}}{{business.MobileNumber ? '%0a        ' + business.MobileNumber + ' (mobile)' : ''}}{{business.Email ? '%0aEmail:%0a        ' +business.Email : ''}}{{business.Address ? '%0aAddress:%0a        ' + business.Address.replace('&','and') : ''}}{{business.ABN ? '%0aABN:%0a        ' + business.ABN : '-'}}{{business.AccountNumber  ? '%0aAccount number:%0a        ' + business.AccountNumber  : ''}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                    </ul>

                    <h3 class="customer-name icon icon-corporate">
                        <a href="cilink://financeproduction/action=sfun&f=$F1.AP.CHTACCT.ENQ&s=F1GLC.chartname=APCHART&s=F1GLC.accnbri={{business.AccountNumber}}&d=Production%20Database%20direct">{{business.Surname}}</a>

                    </h3>

                    <ul class="accordion-tabs-minimal " ng-controller="TabController">
                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link active" ng-click="setTab(1)" ng-class="{ active: isSet(1) }">Details</a>
                            <div class="tab-content" ng-show="isSet(1)">

                                <contact-details entity="business"></contact-details>

                            </div>
                        </li>
                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="setTab(2)" ng-class="{ active: isSet(2) }">Account</a>
                            <div class="tab-content" ng-show="isSet(2)">


                                <ul class="icon-list">
                                    <li class="icon icon-finance">
                                        <a href="cilink://financeproduction/action=sfun&f=$F1.AP.CHTACCT.ENQ&s=F1GLC.chartname=APCHART&s=F1GLC.accnbri={{business.AccountNumber}}&d=Production%20Database%20direct" title="Open in Finance One">
                                            Account number:
                                            {{business.AccountNumber ? business.AccountNumber : '-'}}
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- IntelliLeisure -->
            <div class="system" ng-controller="intelliLeisureController" ng-class="{'hidden' : hidden}" ng-cloak>
                <h2 class="icon icon-walk" ng-class="{ active: IntelliLeisurePeople.length > 0 }" ng-click="hidden = !hidden">IntelliLeisure <span>{{IntelliLeisurePeople.length}} customers found{{IntelliLeisurePeople.length > 20 ? ", showing first 20. Please refine your search" : ""}}.</span></h2>
                <div ng-repeat="person in IntelliLeisurePeople | limitTo: 20" class="customer">

                    <ul class="icon-list links inline mini-toolbar">
                        <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}{{person.UserID ? '%0aID:%0a        ' + person.UserID : ''}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                    </ul>

                    <h3 class="customer-name icon icon-person">
                        {{person.GivenNames}}
                        {{person.Surname}}
                    </h3>

                    <ul class="accordion-tabs-minimal " ng-controller="TabController">
                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link active" ng-click="setTab(1)" ng-class="{ active: isSet(1) }">Details</a>
                            <div class="tab-content" ng-show="isSet(1)">
                                <contact-details entity="person"></contact-details>

                            </div>
                        </li>

                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getLeisureWorldMemberships(this, person.UserGuid, 'Current');setTab(2);" ng-class="{ active: isSet(2) }" title="View memberships for {{person.GivenNames}} {{person.Surname}}">Membership</a>
                            <div class="tab-content" ng-show="isSet(2)" ng-cloak>

                                <switch name="history-memberships" current="current" callbackfn="getLeisureWorldMemberships" nucnameid="{{person.UserGuid}}" viewscope="this" listlength="AssociatedMemberships.length" listtype="memberships" class="green wide"></switch>

                                <ul class="icon-list" ng-repeat="membership in AssociatedMemberships | limitTo: listLimit" ng-cloak>

                                    <li class="icon icon-finance">
                                        {{membership.Description}}
                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}{{person.UserID ? '%0aIntelliLeisure ID:%0a        ' + person.UserID : ''}}%0aMembership:%0a        {{membership.Description}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getBookings(this, person.UserGuid, 'Current');setTab(3);" ng-class="{ active: isSet(3) }" title="View bookings for {{person.GivenNames}} {{person.Surname}}">Facility bookings</a>
                            <div class="tab-content" ng-show="isSet(3)" ng-cloak>

                                <switch name="history-bookings" current="current" callbackfn="getBookings" nucnameid="{{person.UserGuid}}" viewscope="this" listlength="AssociatedBookings.length" listtype="bookings" class="green wide"></switch>

                                <ul class="icon-list" ng-repeat="booking in AssociatedBookings | limitTo: listLimit" ng-cloak>

                                    <li class="icon icon-calendar">
                                        {{booking.Description}}
                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}{{person.UserID ? '%0aIntelliLeisure ID:%0a        ' + person.UserID : ''}}%0aBooking:%0a        {{booking.Description}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>

                                </ul>

                            </div>
                        </li>

                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getClasses(this, person.UserGuid, 'Current');setTab(4);" ng-class="{ active: isSet(4) }" title="View classes for {{person.GivenNames}} {{person.Surname}}">Classes</a>
                            <div class="tab-content" ng-show="isSet(4)" ng-cloak>

                                <switch name="history-classes" current="current" callbackfn="getClasses" nucnameid="{{person.UserGuid}}" viewscope="this" listlength="AssociatedClasses.length" listtype="classes" class="green wide"></switch>


                                <ul class="icon-list" ng-repeat="class in AssociatedClasses | limitTo: listLimit" ng-cloak>

                                    <li class="icon icon-calendar">
                                        {{class.Description}}
                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}{{person.UserID ? '%0aIntelliLeisure ID:%0a        ' + person.UserID : ''}}%0aClass:%0a        {{class.Description}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getCourses(this, person.UserGuid, 'Current');setTab(5);" ng-class="{ active: isSet(5) }" title="View courses for {{person.GivenNames}} {{person.Surname}}">Courses</a>
                            <div class="tab-content" ng-show="isSet(5)" ng-cloak>

                                <switch name="history-courses" current="current" callbackfn="getCourses" nucnameid="{{person.UserGuid}}" viewscope="this" listlength="AssociatedCourses.length" listtype="courses" class="green wide"></switch>

    
                                <ul class="icon-list" ng-repeat="course in AssociatedCourses | limitTo: listLimit" ng-cloak>

                                    <li class="icon icon-calendar">
                                        {{course.Description}}
                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}{{person.UserID ? '%0aIntelliLeisure ID:%0a        ' + person.UserID : ''}}%0aCourse:%0a        {{course.Description}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>

                                </ul>

                            </div>
                        </li>

                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getLeisureWorldInvoices(this, person.UserGuid, 'Current');setTab(6);" ng-class="{ active: isSet(6) }" title="View outstanding invoices for {{person.GivenNames}} {{person.Surname}}">Outstanding invoices</a>
                            <div class="tab-content" ng-show="isSet(6)" ng-cloak>

                                <p class="results-label" ng-show="!AssociatedInvoices.length" ng-cloak>No outstanding invoices.</p>

                                <ul class="icon-list" ng-repeat="invoice in AssociatedInvoices | limitTo: listLimit" ng-cloak>

                                    <li class="icon icon-cash" ng-class="{ 'color-red' : invoice.Description.match('OVERDUE')}" >
                                        {{invoice.Description}}
                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}{{person.UserID ? '%0aIntelliLeisure ID:%0a        ' + person.UserID : ''}}%0aOutstanding invoice:%0a        {{invoice.Description}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getLeisureWorldGroups(this, person.UserGuid, 'Current');setTab(7);" ng-class="{ active: isSet(7) }" title="View groups for {{person.GivenNames}} {{person.Surname}}">Group</a>
                            <div class="tab-content" ng-show="isSet(7)" ng-cloak>

                                <p class="results-label" ng-show="!AssociatedGroups.length" ng-cloak>This customer does not belong to any groups.</p>
                                <p class="results-label" ng-show="AssociatedGroups.length" ng-cloak>This customer belongs to a group with the following members:</p>
                                <ul class="icon-list" ng-repeat="group in AssociatedGroups | limitTo: listLimit" ng-cloak>

                                    <li class="icon icon-staff">
                                        {{group.Description}}
                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}{{person.UserID ? '%0aIntelliLeisure ID:%0a        ' + person.UserID : ''}}%0aGroup:%0a        {{group.Description}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="tab-header-and-content">
                            <a href="javascript:;" class="tab-link" ng-click="getOnlineAccounts(this, person.UserGuid, 'Current');setTab(8);" ng-class="{ active: isSet(8) }" title="View online account details for {{person.GivenNames}} {{person.Surname}}">Online account</a>
                            <div class="tab-content" ng-show="isSet(8)" ng-cloak>

                                <p class="results-label" ng-show="!AssociatedAccounts.length" ng-cloak>This customer does not have an online account.</p>
                                <p class="results-label" ng-show="AssociatedAccounts.length" ng-cloak>This customer has the following online account:</p>
                                <ul class="icon-list" ng-repeat="account in AssociatedAccounts | limitTo: listLimit" ng-cloak>

                                    <li class="icon icon-staff">
                                        {{account.Description}}
                                        <ul class="icon-list links inline mini-toolbar">
                                            <li><a class="icon icon-email" href="mailto:?bcc=@{@ViewBag.BccEmail}&subject=You missed a call from {{person.GivenNames}} {{person.Surname.replace('&','and')}}&amp;body=Name:%0a        {{person.GivenNames}} {{person.Surname.replace('&','and')}}%0aPhone:%0a{{CallingNumber ? '        ' + CallingNumber + ' (called from this number)' : ''}}{{person.HomePhone ? '%0a        ' + person.HomePhone + ' (home)' : ''}}{{person.WorkPhone ? '%0a        ' + person.WorkPhone + ' (work)' : ''}}{{person.MobileNumber ? '%0a        ' + person.MobileNumber + ' (mobile)' : ''}}{{person.Email ? '%0aEmail:%0a        ' + person.Email : ''}}{{person.Address ? '%0aAddress:%0a        ' + person.Address.replace('&','and') : ''}}{{person.DateOfBirth ? '%0aDOB:%0a        ' + person.DateOfBirth : ''}}{{person.UserID ? '%0aIntelliLeisure ID:%0a        ' + person.UserID : ''}}%0aIntelli online account:%0a        {{account.Description}}%0a%0aReason for calling:%0a        " title="Send callback email"><span></span></a></li>
                                        </ul>

                                    </li>

                                </ul>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
         

        </div>
    
<div id="enquiry-form" class="popup white" style="display:none">
	<div class="form-container">


<div>
	<div id="ctl07_divFormContainer" class="se-form-container">
        <ul class="errors"></ul>


<div class="form-container">
 	<fieldset>
 		<legend>Staff notice enquiry</legend>
		
				<div class="row">
     <label for="ctl07_rpControls_ctl00_fiControl_se_form">Your question or comment:<span class="se-form-required-asterisk"> * </span> <span class="se-form-required-text">(required)</span></label>
     <input name="ctl07$rpControls$ctl00$fiControl$se_form" type="text" maxlength="300" id="ctl07_rpControls_ctl00_fiControl_se_form" class="noticeboard-enquiry-focus">
</div>
			
				
			
		
		</fieldset>
  <input type="submit" name="ctl07$ctl00" value="Submit">
</div>
	</div>
	
	
</div>
					</div>
			<button title="Close (Esc)" type="button" class="mfp-close">×</button></div>


    }

}
