﻿<!DOCTYPE html>
<html data-ng-app="customerLookupModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/customers.css")
    <link href="https://fonts.googleapis.com/css?family=Lato|Droid+Sans" rel="stylesheet">
</head>
<body>

    @RenderBody()

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/base-frameworks.js")
    @Scripts.Render("~/Scripts/spa.js")
</body>
</html>
